.nav-item {
  margin-left:11vw;
}

.container-fluid {
  padding-top:2vh;
  padding-left:5vw;
  padding-right:5vw;
}

.navbar-light .navbar-toggler {
  color:rgba(0,0,0,0);
  border-color:rgba(0,0,0,0);
}

